body {
    padding: 0%;
    margin: 0%;
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

#container {
    position: relative;
    background-image: url(img.gif);
    height: 100vh;
    width: 60vw;
    text-align: center;
    z-index: -1;
}

.Red {
    color: #f2363c;
    font-size: 3rem;
    position: relative;
    top: 15vh;
    background-color: rgb(red, green, blue);
}

.copyright {
    color: #f2363c;
    position: relative;
    top: 14vh;
}

#rightContainer {
    background-color: #121418;
    position: relative;
    height: 100vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#formContainer {
    position: relative;
    height: 5rem; 
    justify-content: center;
    display: flex;
    padding: 1rem;
    overflow: hidden;
    flex-flow: row;
    gap: 60px;
}

#email {
    color: #f2363c;
}

#user_email {
    background-color: #22262C;
    border-style: none;
    border: 1px solid #f2363c;
}

#pw {
    color: #f2363c;
}

#user_password {
    background-color: #22262C;
    border-style: none;
    border: 1px solid #f2363c;
}

h1 {
    color: #f2363c;
    font-size: 3rem;
    font-weight: 300;
    position: relative;
    bottom: 18rem;
    text-align: center;
    height: 10vh;
}

.textp {
    color: #f2363c;
    position: relative;
    bottom: 18rem;
    text-align: center;
    height: 5vh;
}

#submitButton {
    width: auto;
    display: flex;
    justify-content: center;
}

#submit {
    background-color: #22262C;
    border-style: none;
    color: #f2363c;
    position: relative;
    height: 1rem;
    width: 5rem;
}


@media (max-width: 1151px) {
    #submit {
        top: 6rem;
    }

    #formContainer {
        float: left;
        padding: 0%;
        width: auto;
        position: relative;
        overflow: hidden;
    }

    .textp {
        bottom: 200px;
    }

}

@media (max-width: 768px) {
    h1 {
        top: 150px;
    }

    .copyright{
       position: absolute;
       top: 1px;
       right: 150px;
    }

    .textp {
       top: 100px;
    }

    body {
        display: block;
        margin: 0%;
        background-color: #121418;
    }
    #container {
        width: auto;
        margin-bottom: 0%;
    }
    #rightContainer {
        width: auto;
        position: relative;
        bottom: 35px;
        flex-flow: wrap;
    }

    #pw {
    left: 44px;
    bottom: 25px;
    margin-top: 0px;

    }
}